<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <h2>Этапы курса</h2>
        <div class="ptag">{{descript[currentDescr]}}</div>
        <div class="cont">
          <div class="cont1" v-for="(value,i) in tap">
            <div v-if="passedInd.includes(i)" class="round">{{value.key}}</div>
            <div v-else class="noact">{{value.key}}</div>
            &nbsp;
            <div>{{value.value}}</div>
          </div>
        </div>
        <div>
          <button
            :disabled="isBackDisabled"
            :class="{ 'btn':true,'dis':isBackDisabled,'back':true}"
            @click="prevTap"
          >
            Назад
          </button>
          <button
            :disabled="isNextDisabled"
            :class="{'btn':true,'next':true,'disnext':isNextDisabled}"
            @click="nextTap"
            class="btn next"
          >
            Вперед
          </button>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
